.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .dark-background {
    background-color: #000000;
  }
  
  .light-background {
    background-color: #ffffff;
  }
  
  .about-img {
    width: 200px;
    height: 200px;
  }
  
  .about-dark-text {
    color: #000000;
    font-size: 50px;
  }
  
  .about-light-text {
    color: #ffffff;
    font-size: 50px;
  }